<div class="max-w-4xl mx-auto">
    <div class="flex items-center gap-4 px-4 py-2">
        <span class="material-symbols-rounded text-primary">local_bar</span>
        <div class="font-bold">Spirit Shelf</div>
        <p-button class="ml-auto" variant="text" label="Dashboard" routerLink="/dashboard"></p-button>
    </div>
</div>


<div class="bg-white border-t border-gray-300">
    <div class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-4 p-4 py-8 items-center">
        <div class="flex flex-col gap-4 flex-1">
            <div class="text-5xl">Master the Art of Mixology</div>
            <div class="text-lg text-gray-600">
                Discover a world of cocktails at your fingertips. Whether you're a seasoned mixologist or just starting
                out, our app offers a vast collection of recipes, tips, and techniques to help you create the perfect
                drink every time.
            </div>
            <p-button label="Explore Recipies" routerLink="/browse"></p-button>
        </div>
        <div class="bg-[url('/imgs/old-fashioned.webp')] bg-cover bg-center rounded-xl aspect-square w-full"></div>
    </div>
</div>

<div class="max-w-4xl mx-auto p-4 py-8 flex flex-col gap-4">
    <div class="text-primary text-sm text-center">FEATURES</div>
    <div class="text-3xl text-center">Why Use Spirit Shelf?</div>
    <div class="text-gray-600 text-center">Everything you need to craft the perfect drink, from discovery to the final pour.</div>

    <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
        <div class="rounded-lg bg-white border border-gray-300 p-4 flex flex-col">
            <div class="p-1.5 rounded-lg bg-primary-500/20 mr-auto">
                <div class="text-primary material-symbols-rounded">search</div>
            </div>
            <div class="text-xl mt-3">Recipe Explorer</div>
            <div class="text-gray-500 mt-2">Smart Search allows you to find drinks by ingredients you already have in your cabinet. No more guessing.</div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 overflow-hidden p-4 flex flex-col">
            <div class="p-1.5 rounded-lg bg-primary-500/20 mr-auto">
                <div class="text-primary material-symbols-rounded">bookmark</div>
            </div>
            <div class="text-xl mt-3">Favourites Manager</div>
            <div class="text-gray-500 mt-2">Build your own digital bar. Save your top picks for quick access and create curated lists for any occasion.</div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 overflow-hidden p-4 flex flex-col">
            <div class="p-1.5 rounded-lg bg-primary-500/20 mr-auto">
                <div class="text-primary material-symbols-rounded">calculate</div>
            </div>
            <div class="text-xl mt-3">Ingredient Calculator</div>
            <div class="text-gray-500 mt-2">Planning a party? Scale ingredients instantly for 1 or 100 guests with our precise party calculator.</div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="max-w-4xl mx-auto flex flex-col p-4 py-8 gap-4">
        <div class="flex justify-between">
            <div class="text-3xl">Trending Cocktails</div>
            <div class="flex items-center text-primary cursor-pointer" routerLink="/browse">
                <div>View all</div>
                <span class="material-symbols-rounded" style="font-size:medium;">arrow_forward</span>
            </div>
        </div>

        <p-carousel [value]="trending" [numVisible]="3" [numScroll]="1" [circular]="true" autoplayInterval="3000"
            [responsiveOptions]="responsiveOptions" [showNavigators]="window.innerWidth > 768">
            <ng-template let-product #item>
                <div class="flex flex-col gap-2 m-2">
                    <div [style.backgroundImage]="'url(/imgs/' + product.img + ')'" class="bg-cover bg-center rounded-xl aspect-square w-full"></div>
                    <div class="font-bold">{{product.title}}</div>
                    <div class="flex items-center gap-2">
                        <p-tag [value]="product.base + ' base' | titlecase" />
                        <div class="bg-gray-500 h-1.5 w-1.5 rounded-full"></div>
                        <div class="text-gray-500">{{product.glass | titlecase}}</div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="max-w-4xl mx-auto p-4 py-8 flex flex-col gap-4 text-center">
    <div class="text-3xl">Ready to mix your first drink?</div>
    <div class="text-gray-600 text-center">Join thousands of cocktail enthusiasts and start discovering new flavors today.</div>
    <p-button [rounded]="true" label="Explore Recipies" routerLink="/browse"></p-button>
</div>

<div class="flex flex-col p-4 py-8 gap-2 bg-white border-t border-gray-300">
    <div class="flex gap-2 justify-center items-center">
        <span class="material-symbols-rounded text-primary">local_bar</span>
        <div class="font-bold">Spirit Shelf</div>
    </div>
    <div class="text-gray-500 text-center">
        &copy; 2025 Spirit Shelf. All rights reserved
    </div>
</div>